:root {
	--primary-color: #CD0067;
	--primary-color-rgb: 17, 106, 112;
	--secondary-color: #BF046B;
	--secondary-color-rgb: 33, 167, 178;
	--tertiary-color: #260115;
	--tertiary-color-rgb: 14, 70, 74;
}